.app {
  position: relative;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  // background-image: url(../Assets/background-img.jpg);

  background: url(../Assets/background-img.jpg) center;
  background-size: cover;
}
