.app {
  position: relative;
  max-width: 960px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  background: url(../Assets/background-img.jpg) center;
  // background-color: gray;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}