.app {
  position: relative;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../Assets/background-img.jpg);
  background-size: cover;

  @media(max-height: 700px) {
    background-size: cover;
  }
}
